.links-section{
margin: 1.5em 0;
padding: 1.5em 0;
display: block;
/* border: 1px solid blue; */
border-radius: 8px;
background-color:#EAECF0;

}
.logo{
margin-left: 1.5em;
}
.links{
    border: 1px solid  #EAECF0;
    justify-content: center;
    align-items: center;
    background-color:  #EAECF0;
}
a{
    font-size: 18px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    color: #101828;;

}
.social-section{
    display: flex;
    justify-content: center;
    margin-bottom: 5.5em;
    margin-top: 3em;

}
.social-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer-container{
    padding-top: 2.5em;
    border-top: 1px solid #EAECF0;
    padding-bottom: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
@media screen and (max-width: 500px){
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 1em;
    }
    .fLogo{
   margin: 0.5em;
    }
    .social-section{
        
        margin-bottom: 3em;
        margin-top: 1.5em;
    }    
}
